.container {
  width: 900px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #0a3d62;
}

.sub {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

/* Summary Card */
.summary-card {
  background:#0652dd;
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
}

/* Section Title */
.section {
  font-size: 22px;
  margin: 15px 0 10px;
  color: #333;
}

/* District Grid */
.district-container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
}

/* District Box */
.district-box {
  background: white;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

.district-box:hover {
  background: #e3f2fd;
  transform: translateY(-3px);
}

.district-name {
  font-size: 18px;
  font-weight: bold;
  color: #064579;
}

.district-count {
  font-size: 16px;
  color: #333;
}

/* URGENCY SUMMARY */
.urgency-summary-grid {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.urg-box {
  flex: 1;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.urg-box h4 {
  margin: 0;
}

.urg-box p {
  font-size: 22px;
}

.btn-accept:hover {
  background: #0652dd;
}

.btn-complete:hover {
  background: #019870;
}
.back-btn {
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 8px 18px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: 0.2s ease;
}

.back-btn:hover {
  background-color: #b71c1c;
}
/* Color coding */
.high { background: #ff4d4d; color: white; }
.medium { background: #ffcc00; }
.low { background: #28a745; color: white; }

/* Top row layout */
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Accept button */
.btn-accept {
  background: #092958;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  margin-right: 6px;
  border: none;
  cursor: pointer;
}

/* Complete button */
.btn-complete {
  background: #198754;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.btn-accept:hover {
  background: #0652dd;
}

.btn-complete:hover {
  background: #019870;
}
.back-btn {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 8px 18px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: 0.2s ease;
}

.back-btn:hover {
  background-color: #0d6efd;
}